<h1>Venha Comprar <%= title %></h1>

<a href="/bicicletas/tricicletas">Tricicletas</a>
<a href="/bicicletas/monocicletas">Monocicletas</a>

<p>Olha essa Bicicleta maneira aqui</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf4oHABPHMVi6zzbUl55FgXMErD8Bmmh0JZA&s">