<style>
  ul {
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  li {
    padding: 20px;
    border: solid 1px black;
    border-radius: 25px;
  }

  body {
    text-align: center;
  }
</style>

<h1>Venha Comprar <%= title %></h1>

<a href="bicicletas/tricicletas">Tricicletas</a>
<a href="bicicletas/monocicletas">Monocicletas</a>

<ul>
  <% bicicletas.forEach(function(bike) { %>
    <li>
      <h3><%= bike.nome %></h3>
      <p>R$ <%= bike.preco %></p>
      <img src="<%= bike.img %>" width="250">
    </li>
  <% }) %>
</ul>