extends layout

block content
  h1 Venha Comprar #{title}
  a(href="bicicletas/tricicletas") Tricicletas 
  a(href="bicicletas/monocicletas") Monocicletas 
  p Olha essa Bicicleta maneira aqui
  image(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf4oHABPHMVi6zzbUl55FgXMErD8Bmmh0JZA&s")
