extends layout

block content
  h1 Venha Comprar #{title}
  p Tricicletas IRADASSSSS
  image(src="https://images.tcdn.com.br/img/img_prod/1182547/triciclo_familia_vermelho_21_1_8757b84d83ed5982918f7249b9b18d70.jpg")
